body {
  display: flex;

  height: 100vh;
  width: 100vw;
  margin: 0;

  font-family: 'Manrope', sans-serif;
  color: #4b5569;
  background-color: #eef1ef;
}

main {
  display: flex;
  align-items: center;

  width: 90%;
  padding: 5%;
}

img {
  height: 20rem;
  width: 50%;
}

.details {
  width: calc(50% - 4rem);
  margin-left: auto;
  padding: 2rem;
}
